.text {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.container {
    width: 90%;
    height: 90%;
    text-align: center;
    border-style: solid;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.title {
    text-align: center;
    
}